<html ng-app="listaTelefonica">
	
	<head>
		<title>Lista Telefônica</title>
		
		<link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.css">
		<style>
		
			.jumbotron {
				width: 400px;
				text-align: center;
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
			}
			
			.table {
				margin-top: 20px;
			}
			
		</style>
		
		<script src="../lib/angular/angular.js"></script>
		<script>
			var app = angular.module("listaTelefonica", []);
			app
				.controller("listaTelefonicaController",	
					function($scope) {				
						$scope.app = "Lista Telefônica";
						$scope.contatos = [
							{nome: "Daniel", telefone: "62 9981-6300"},
							{nome: "Luciana", telefone: "62 9958-6300"},
							{nome: "Guilherme", telefone: "62 9983-6300"}
						];
					}
				);

			// O ng-controller, assim como o ng-route, é o módulo (também chamada de diretiva) responsável 
			// 	por fazer a comunicação entre View e Controller.
			// A View não é, necessariamente, um arquivo html. View, para o AngularJS, poder uma tag ou um conjunto de tag´s do html.
			// O ng-bind substitui um elemento por uma expressão.
			// O ng-repeat itera sobre os itens de uma coleção ou de um objeto
			// O ng-model vincula uma propriedade ao $scope. Ele faz o inverso do ng-bind (controler->visão), pois o ng-bind é visão->controler
			 	
		</script>
		
	</head>
	
	<body ng-controller="listaTelefonicaController">
		<div class="jumbotron">
			<h4>{{app}}</h4>
			<table class="table table-striped table-hover">
				<tr>
					<th>Nome: </th>
					<th>Telefone: </th>
				</tr>
				<tr ng-repeat="contato in contatos">
					<th>{{contato.nome}}</th>
					<th>{{contato.telefone}}</th>
				</tr>
			</table>	
			
			</br>
			
			<h4>{{app}}</h4>
			<table class="table table-striped table-hover">
				<tr>
					<th>Nome: </th>
					<th>Telefone: </th>
				</tr>
				<tr ng-repeat="contato in contatos">
					<td ng-repeat="(key,value) in contato">
						{{key + ' - ' + value}}
					</td>
				</tr>
			</table>	
		
		</div>
	</body>
	
</html>